
h1,h2,h3,h4,h5,h6,p,div,table,header,article,footer,nav,body,form{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  &:focus{
  outline: none;
}
}