/* line 2, ../sass/_reset.scss */
h1, h2, h3, h4, h5, h6, p, div, table, header, article, footer, nav, body, form {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 7, ../sass/_reset.scss */
a {
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
}
/* line 10, ../sass/_reset.scss */
a:focus {
  outline: none;
}

/* line 9, ../sass/popup.scss */
body {
  width: 282px;
  height: 576px;
  border-radius: 6px;
  background: #4c4e57;
}

/* line 15, ../sass/popup.scss */
header {
  position: relative;
  height: 40px;
  border-bottom: 1px solid #3d3d40;
  background: url(../images/128.png) 20px center no-repeat;
  background-size: 22px 22px;
}
/* line 21, ../sass/popup.scss */
header h1 {
  font-size: 18px;
  font-weight: normal;
  text-align: center;
  color: #F88A1A;
  line-height: 40px;
}

/* line 31, ../sass/popup.scss */
input {
  -webkit-appearance: none;
  border: 0px;
}

/* line 36, ../sass/popup.scss */
#setLink {
  position: absolute;
  top: 0px;
  right: 30px;
  height: 40px;
  line-height: 40px;
  color: #858585;
  font-size: 15px;
}
/* line 44, ../sass/popup.scss */
#setLink:hover {
  color: #bcbcbc;
}

/* line 50, ../sass/popup.scss */
form {
  border-bottom: 1px solid #3d3d40;
  height: 64px;
  padding: 16px 20px;
}

/* line 56, ../sass/popup.scss */
#search {
  display: inline-block;
  padding: 0 6px;
  border: 0;
  height: 28px;
  width: 160px;
  font-size: 14px;
  font-weight: 700;
  color: #464646;
}

/* line 67, ../sass/popup.scss */
#add {
  display: inline-block;
  margin-left: 10px;
  height: 28px;
  width: 54px;
  background: orange;
  font-size: 14px;
}
/* line 74, ../sass/popup.scss */
#add:hover {
  background: darkorange;
}

/* line 79, ../sass/popup.scss */
.stockContent {
  height: 468px;
}

/* line 82, ../sass/popup.scss */
.content {
  display: none;
  padding-bottom: 4px;
}

/* line 87, ../sass/popup.scss */
.stockList:nth-child(2n) {
  background: #3e4049;
}

/* line 90, ../sass/popup.scss */
.stockList .header {
  padding: 0 16px;
  position: relative;
  height: 45px;
}

/* line 95, ../sass/popup.scss */
.stockName, .stockCode, .upOrRise, .stockPrice, .stockEdit, .delete {
  position: absolute;
}

/* line 98, ../sass/popup.scss */
.stockName {
  top: 5px;
  font-size: 14px;
  color: #878787;
}

/* line 103, ../sass/popup.scss */
.stockCode {
  top: 25px;
  font-size: 12px;
  color: #a8a8a8;
}

/* line 108, ../sass/popup.scss */
.stockPrice {
  width: 100%;
  height: 100%;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  color: #a8a8a8;
}

/* line 116, ../sass/popup.scss */
.upOrRise {
  height: 100%;
  line-height: 45px;
  font-size: 14px;
  right: 16px;
  color: #59A212;
}

/* line 124, ../sass/popup.scss */
table {
  margin: 0 auto;
  width: 95%;
  text-align: center;
}
/* line 128, ../sass/popup.scss */
table th {
  color: #787878;
  font-weight: normal;
  font-size: 13px;
}
/* line 133, ../sass/popup.scss */
table td {
  color: #cccccc;
}
/* line 136, ../sass/popup.scss */
table tr {
  height: 22px;
}

/* line 141, ../sass/popup.scss */
.yestoday {
  width: 45px;
}

/* line 144, ../sass/popup.scss */
.chengjiaoer {
  width: 93px;
}

/* line 147, ../sass/popup.scss */
.todayOpen {
  width: 45px;
}

/* line 150, ../sass/popup.scss */
.dash {
  border-bottom: 1px solid #383738;
}

/* line 154, ../sass/popup.scss */
.edit p, .content p {
  padding-left: 23px;
  line-height: 2.2;
  font-size: 14px;
  color: #E45757;
}
/* line 160, ../sass/popup.scss */
.edit label, .edit input, .content label, .content input {
  display: inline-block;
  height: 20px;
  line-height: 22px;
}
/* line 166, ../sass/popup.scss */
.edit label, .content label {
  padding-left: 23px;
  color: #DED9D9;
  padding-right: 6px;
}
/* line 171, ../sass/popup.scss */
.edit input, .content input {
  padding-left: 8px;
  width: 70px;
}

/* line 178, ../sass/popup.scss */
.open {
  display: block;
}

/*# sourceMappingURL=popup.css.map */
