@import "_reset";
$titleNameColor:rgb(135,135,135);//标题color
$stockIndexNameColor: rgb(120,120,120);
$stockIndexValue: #cccccc;
@mixin border-bottom {
  border-bottom: 1px solid rgb(61, 61, 64);
}

body {
  width: 282px;
  height: 576px;
  border-radius: 6px;
  background: #4c4e57;
}
header {
  position: relative;
  height: 40px;
  @include border-bottom;
  background: url(../images/128.png) 20px center no-repeat;
  background-size: 22px 22px;
  h1 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
    color: #F88A1A;
    line-height: 40px;
  }

}

input {
  -webkit-appearance: none;
  border: 0px;
}

#setLink {
  position: absolute;
  top: 0px;
  right: 30px;
  height: 40px;
  line-height: 40px;
  color: rgb(133, 133, 133);
  font-size: 15px;
  &:hover {
    color: rgb(188, 188, 188);
  }
;
}

form {
  @include border-bottom;
  height: 64px;
  padding: 16px 20px
}

#search {
  display: inline-block;
  padding: 0 6px;
  border: 0;
  height: 28px;
  width: 160px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(70, 70, 70);
}

#add {
  display: inline-block;
  margin-left: 10px;
  height: 28px;
  width: 54px;
  background: orange;
  font-size: 14px;
  &:hover {
    background: darkorange;
  }
}

.stockContent {
  height: 468px;
}
.content{
  display: none;
  padding-bottom: 4px;
}
// 股票列表
.stockList:nth-child(2n){
  background: #3e4049;
}
.stockList .header {
   padding: 0 16px;
   position: relative;
   height: 45px;
}
.stockName,.stockCode,.upOrRise,.stockPrice,.stockEdit,.delete{
  position:absolute;
}
.stockName{
  top:5px;
  font-size: 14px;
  color:$titleNameColor;
}
.stockCode{
  top:25px;
  font-size:12px;
  color:rgb(168,168,168);
}
.stockPrice{
  width: 100%;
  height: 100%;
  line-height:45px;
  text-align: center;
  font-size: 14px;
  color:rgb(168,168,168);
}
.upOrRise{
  height:100%;
  line-height:45px;
  font-size: 14px;
  right: 16px;
  color:#59A212;
}
//
table{
  margin: 0 auto;
  width: 95%;
  text-align: center;
  th{
    color: $stockIndexNameColor;
    font-weight: normal;
    font-size: 13px;
  }
  td{
    color:$stockIndexValue;
  }
  tr{
    height: 22px;
  }
}
//table1
.yestoday{
  width: 45px;
}
.chengjiaoer{
  width: 93px;
}
.todayOpen{
  width: 45px;
}
.dash{
  border-bottom: 1px solid rgb(56, 55, 56);
}
.edit,.content{
  p{
    padding-left: 23px;
    line-height: 2.2;
    font-size: 14px;
    color: #E45757;
  }
  label,input{

    display: inline-block;
    height: 20px;
    line-height: 22px;
  }
  label{
    padding-left: 23px;
    color:#DED9D9;
    padding-right: 6px;
  }
  input{
    padding-left: 8px;
    width: 70px;
  }
}

//
.open{
  display: block;
}
